body{
  background-color: #d6d6d6;
}


.title {
    font-weight: bold;
    font-family: Roboto;
    color: #66c2a5;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    padding-left: 1.5rem;
  }
.subtitle {
    font-weight: bold;
    font-family: Roboto;
    color: #A5A5A5;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    padding: 1rem;
    padding-left: 1.5rem;
  }
  
#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4rem;
  background-color: #fff;
  z-index: 1035;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navlink {
  font-family: Roboto;
  font-size: 16px;
  padding: 1rem;
  text-decoration: none;
  color: #ffffff;
}

#footer {
  position: relative;
  top: 10rem;
  width: 100%;
  height: 3rem;
  background-color: #d6d6d6; /*#306252;*/
  z-index: 1035;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
  font-family: Roboto;
  font-size: 16px;
  padding: 1rem;
  color: #ffffff;
}

#content-container {
  display: flex;
  position: relative;
  top: 5rem;
  width: 100%;
  box-sizing: content-box;
}

#sidebar {
    top:0;
    left:1rem;
    height: 100%;
    width: 20%;
    padding: 2rem 2rem;
    background-color: #ffffff;
    position: relative;
    top:0;
    left:1rem;
  }

.sidebar_title  {
    font-weight: 400;
    color: #66c2a5;
    text-align: center;
    font-size: 16px;
    font-weight: 700}

.sidebar_subtitle {
    font-family: Roboto;
    font-size: 16px;
    color: #66c2a5
  }

.sidebar_description {
    font-family: Roboto;
    font-size: 14px;
    color: #A5A5A5
    }


#chosen_scenario_dropdown, 
#scenario_dropdown {
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#scenario_name_field {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid #a5a5a5ff !important;
  border-radius: 30px !important;
  text-align: center !important;
}

input::placeholder {
  padding-left: 0px;
}

#submit_button {
  background-color: #fff;
  width: 10rem;
  height:2.2rem;
  color: #66c2a5;
  font-family:Roboto;
  font-size:14px;
  border: 1px solid #66c2a5;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  }

#submit_button:hover {
    background-color: #66c2a5;
    color: white
    }
#submit_button:active {
  background-color: #91c9b7;
}
    
.facet_name {
    font-weight: 500;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 16px;
    color: #66c2a5;
  }

#year_slider {
  width: 300px;
}

#slider_container {
  padding-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.popover_lever {
  width: auto;
  height: 15px;
  margin-left: 3px;
}

.facet_item_name {
  display: flex;
  font-weight: 500;
  font-family: Roboto;
  font-size: 12px;
  color: #A5A5A5;
}

.slider {
  margin-bottom: 10px;
}

#scenario_creation_response {
  font-family: Roboto;
  height: 20px;
  font-size: 14px;
  color: #66c2a5;
  margin-left: 20px;
  display: flex;
}


#dropdown_component {
    display: none;
    padding-left: 1rem;
    background-color: white;
    width: 100%;
    height: 60px;
    }

#dropdown_frame {
    display: flex;
    position: absolute;
    width:300px;
    background-color: white;
    margin-top: 30px;
    z-index: 1;
  }

#area_label{
    margin-right: 20px;
    margin-top: 5px;
  }

#area_dropdown {
  width: 250px;
  font-size: 14px;
  }



.tab {
    background-color: #ffffff;
    border: 0px;
  }

.tab :active {
    border: 0px; 
    background-color: #f0f0f0;
  }

.figure_row {
    background-color: #ffffff;
    border: 2px solid white;
  }

  #figure-area {
    background-color :white;
      padding-top: 50px;
      position: relative;
      z-index: 0;
  }

.figure_title  {
    font-weight: 400;
    color: #A5A5A5;
    text-align: center;
    font-size: 16px;
    font-weight: 700}

.popover_figure {
  width: auto;
  height: 20px;
  margin-left: 3px;
  margin-bottom: 2px;
}

.tab_label {
    background-color: #f0f0f0;
    font-weight:400;
    color:#A5A5A5;
  }

.section_title {
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
    color: #66c2a5;
    font-weight: 500;
  }

.heatcost_dropdowns{
  width: 250px;
  font-size: 14px;
  margin-left: 20px;
  }

#tab_area {
  width: 75%;
  position: relative;
  top:0;
  left:2rem;
}

.custom-tab_1 {
  background: url("./icons/national_tab_grey.png") no-repeat;
  background-position: 10%;
  background-size: 20%;
  background-color :#f0f0f0;
  font-family: Roboto !important;
  font-weight: 400  !important;
  color: #A5A5A5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab_1-selected {
  background: url("./icons/national_tab.png") no-repeat;
  background-position: 10%;
  background-size: 20%;
  background-color :#fff;
  font-family: Roboto !important;
  font-weight: 700  !important;
  color: #66c2a5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab_2 {
  background: url("./icons/regional_tab_grey.png") no-repeat;
  background-position: 20%;
  background-size: 15%;
  background-color :#f0f0f0;
  font-family: Roboto !important;
  font-weight: 400  !important;
  color: #A5A5A5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab_2-selected {
  background: url("./icons/regional_tab.png") no-repeat;
  background-position: 20%;
  background-size: 15%;
  background-color :#fff;
  font-family: Roboto !important;
  font-weight: 700  !important;
  color: #66c2a5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab_3 {
  background: url("./icons/help_tab_grey.png") no-repeat;
  background-position: 35%;
  background-size: 15%;
  background-color :#f0f0f0;
  font-family: Roboto !important;
  font-weight: 400  !important;
  color: #A5A5A5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tab_3-selected {
  background: url("./icons/help_tab.png") no-repeat;
  background-position: 35%;
  background-size: 15%;
  background-color :#fff;
  font-family: Roboto !important;
  font-weight: 700  !important;
  color: #66c2a5 !important;
  width: 200px !important;
  height: 60px !important;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 12px !important;
  padding-left: 40px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#subtabs_1, #subtabs_2 {
  background-color: #fff;
  border-bottom: 3px solid #f0f0f0;
}

.custom-subtab_1_1, 
.custom-subtab_1_2,
.custom-subtab_1_3,
.custom-subtab_1_1-selected, 
.custom-subtab_1_2-selected,
.custom-subtab_1_3-selected,
.custom-subtab_2_1, 
.custom-subtab_2_2,
.custom-subtab_2_3,
.custom-subtab_2_1-selected, 
.custom-subtab_2_2-selected,
.custom-subtab_2_3-selected
 {
  background-color: #fff !important;
  font-family: Roboto !important;
  font-weight: 400  !important;
  color: #A5A5A5 !important;
  width: 200px !important;
  height: 40px !important;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-color: #A5A5A5 !important;
  padding-top: 40px !important;
  padding-left: 35px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.custom-subtab_1_1-selected, 
.custom-subtab_1_2-selected,
.custom-subtab_1_3-selected,
.custom-subtab_2_1-selected, 
.custom-subtab_2_2-selected,
.custom-subtab_2_3-selected
 {
  font-weight: 500  !important;
  color: #66c2a5 !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 3px solid #66c2a5 !important;
}

#subtabs_2_plus_search_component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
}


#local_auth_search_component {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-top: 20px;
}

#local_auth_search_button {
  background: url("./icons/local_authorities.png") no-repeat;
  background-size: 8%;
  background-position: 10%;
  background-color: #fff !important;
  font-family: Roboto !important;
  font-weight: 600  !important;
  padding-left: 45px;
  width: 240px !important;
  height: 40px !important;
  font-size: 14px;
  color: #66c2a5 !important;
  border: 1px solid #66c2a5 !important;
  border-radius: 30px;
}

#local_auth_search {
  width: 240px;
  color: #66c2a5;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 20px;
}

.Select-control {
  border: 1px transparent #A5A5A5;
  border-radius: 30px;
}

.Select-placeholder{
  padding-left: 1rem;
}

@media(min-width:600px) and (max-width:1199px){


}
