body{
  background-color: #f0f0f0
}

.dropdown_dark{
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #222;
    background-clip: padding-box;
    border: 1px solid #444;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .title {
    font-size:64px
  }

  #sidebar {
    position: fixed;
    top: 3rem;
    left: 1rem;
    height: 600px;
    width: 20%;
    padding: 2rem 2rem;
    background-color: #ffffff
  }

  .facet_name {
    font-weight: 500;
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
  }

  #tabs {
    position: absolute;
    left:22%; 
    top:3rem;
    background-color: #f0f0f0;
    z-index: 1; 
  }

  #figure-area {
    padding-left: 22%;
    padding-top: 5.5rem;
  }

  #page_RH {
    padding-left: 22%;
  }

  #tab-1, #tab-2, #tab-3 {
    background-color: #ffffff;
    border: 0px;

  }

